## Df preparation

Для выполнения задания потребуется самому сгенерировать данные с помощью модуля random (все пункты выполняются с помощью нее).

Что необходимо, для создания будущей таблицы:

0) Для генерации данных в random необходимо установить seed = "АДВИ_2023", длина каждого списка N = 1000;

1) index колонка: создать список из N последовательных целых элементов от 1 до 1000 включительно, далее, с помощью специальной функции random перемешать его;

2) groups колонка: создать список из N элементов, состоящий из значений из списка ["группа_1", "группа_2", "группа_3", "группа_4", "группа_5"], необходимо использовать функцию из random которая возвращает список элементов длины k, выбранных из последовательности population с перестановкой элементов;

3) uniform колонка: создать список из N элементов, состоящий из целых значение из равномерного распределения [50, 100] ;

4) gauss_1, gauss_2, gauss_3 колонки: Создать 3 списка из N элементов каждый, заполненные значениями из нормальных распределений с параметрами:

5) Создать pandas DataFrame, где (1) будет индексом, (2)-(4) колонки, названия колонок ["groups", "uniform", "gauss_1", "gauss_2", "gauss_3"] соответственно, не забывая проверить, что типы колонок должны соответствовать заявленным типам данных;

6) Для колонок gauss_1 и gauss_2 заменить значения на None:

Для gauss_1, если индекс у значение делится на 121 без остатка;
Для gauss_2, если дробная часть больше 0.95;

7) Теперь, для пропущенных значений gauss_1 и gauss_2:

Для gauss_2 None заменить на среднее по колонке;
Удалить строчки из таблицы, где gauss_1 == None.

In [203]:
# Zero

In [204]:
import random
import numpy as np
import pandas as pd
from pandas.core.arrays.interval import isna

In [205]:
random.seed('АДВИ_2023')

In [206]:
N = 1000

In [207]:
# One

In [208]:
indxs = np.arange(1, N + 1)
random.shuffle(indxs)

In [209]:
# Two

In [210]:
group_names = ["группа_1", "группа_2", "группа_3", "группа_4", "группа_5"]

In [211]:
groups = random.choices(group_names, k = 1000)

In [212]:
# groups

In [213]:
# Three

In [214]:
uniform = [random.randint(50, 100) for i in range(1000)]

In [215]:
# Four

In [216]:
gauss_1 = [random.gauss(mu = 0, sigma = 1) for i in range(1000)]

In [217]:
gauss_2 = [random.gauss(mu = 0, sigma = 12) for i in range(1000)]

In [218]:
gauss_3 = [random.gauss(mu = 50, sigma = 9) for i in range(1000)]

In [219]:
# Five

In [220]:
data = [indxs, groups, uniform, gauss_1, gauss_2, gauss_3]

In [221]:
df = pd.DataFrame(data).transpose()

In [222]:
df

       0         1   2         3          4          5
0    476  группа_1  95  3.010291   2.156346  57.455851
1    315  группа_5  77  0.190277   -9.93455  62.694177
2    490  группа_4  96 -0.282161   9.211071  54.688895
3    748  группа_3  56   1.12708 -12.391793  30.192353
4    471  группа_5  52  -1.23827  10.938748  52.682052
..   ...       ...  ..       ...        ...        ...
995  260  группа_4  57 -1.484164  -5.911598  49.330196
996  146  группа_4  78 -0.379041  -3.132954    60.3299
997  972  группа_1  52 -0.857206   0.835715  51.926114
998  161  группа_1  62 -0.195475   3.496498   66.31025
999  587  группа_5  60  0.093496  -9.164475  60.897843

[1000 rows x 6 columns]

In [223]:
df.rename(columns = {0: "indxs", 1: "groups", 2: 'uniform', 3: 'gauss_1', 4: 'gauss_2', 5: 'gauss_3'}, inplace = True)

In [224]:
df.set_index('indxs', inplace = True)

In [225]:
df.dtypes

groups     object
uniform    object
gauss_1    object
gauss_2    object
gauss_3    object
dtype: object

In [226]:
df = df.astype({'uniform': 'int32', 'gauss_1' : 'float', 'gauss_2' : 'float', 'gauss_3': 'float'})

In [227]:
df

         groups  uniform   gauss_1    gauss_2    gauss_3
indxs
476    группа_1       95  3.010291   2.156346  57.455851
315    группа_5       77  0.190277  -9.934550  62.694177
490    группа_4       96 -0.282161   9.211071  54.688895
748    группа_3       56  1.127080 -12.391793  30.192353
471    группа_5       52 -1.238270  10.938748  52.682052
...         ...      ...       ...        ...        ...
260    группа_4       57 -1.484164  -5.911598  49.330196
146    группа_4       78 -0.379041  -3.132954  60.329900
972    группа_1       52 -0.857206   0.835715  51.926114
161    группа_1       62 -0.195475   3.496498  66.310250
587    группа_5       60  0.093496  -9.164475  60.897843

[1000 rows x 5 columns]

In [228]:
# six

In [229]:
df.loc[df.index % 121 == 0, 'gauss_1'] = None

In [230]:
# не факт что правильно

df.loc[np.modf(df['gauss_2'])[0] > 0.95, 'gauss_2'] = None

In [231]:
# seven

In [232]:
df['gauss_2'].fillna(df['gauss_2'].mean(), inplace = True)

In [233]:
df.dropna(subset = ['gauss_1'], inplace = True)

In [234]:
# 8
df

         groups  uniform   gauss_1    gauss_2    gauss_3
indxs
476    группа_1       95  3.010291   2.156346  57.455851
315    группа_5       77  0.190277  -9.934550  62.694177
490    группа_4       96 -0.282161   9.211071  54.688895
748    группа_3       56  1.127080 -12.391793  30.192353
471    группа_5       52 -1.238270  10.938748  52.682052
...         ...      ...       ...        ...        ...
260    группа_4       57 -1.484164  -5.911598  49.330196
146    группа_4       78 -0.379041  -3.132954  60.329900
972    группа_1       52 -0.857206   0.835715  51.926114
161    группа_1       62 -0.195475   3.496498  66.310250
587    группа_5       60  0.093496  -9.164475  60.897843

[992 rows x 5 columns]

Ура! Получилось !!!!

## Tasks

1 задание

Сколько всего получилось записей в таблице после выполнения всех пунктов из условия?

In [238]:
df.describe()

          uniform     gauss_1     gauss_2     gauss_3
count  992.000000  992.000000  992.000000  992.000000
mean    74.876008   -0.039448   -0.473799   49.444662
std     14.395724    1.052419   12.069964    9.021853
min     50.000000   -3.933254  -40.394911   19.682732
25%     62.000000   -0.745181   -8.334432   43.492984
50%     75.000000   -0.004941   -0.434114   49.654875
75%     88.000000    0.634956    7.139698   55.627863
max    100.000000    3.040902   34.218271   78.079961

2 задание

Для колонки gauss_2 посчитать среднее и среднеквадратическое отклонение.

In [236]:
df['gauss_2'].describe()

count    992.000000
mean      -0.473799
std       12.069964
min      -40.394911
25%       -8.334432
50%       -0.434114
75%        7.139698
max       34.218271
Name: gauss_2, dtype: float64

3 задание

Какая группа встречается чаще всего и сколько раз?

In [239]:
df['groups'].value_counts()

группа_4    222
группа_1    215
группа_2    194
группа_3    184
группа_5    177
Name: groups, dtype: int64

4 задание

Для группа_5 вывести самый "ранний" (наименьший) индекс.

In [242]:
df[df['groups'] == 'группа_5'].index.min()

6

5 задание

Сколько записей из колонки uniform имеют значение не ниже значения 90% перцентиля?

In [243]:
np.percentile(df.uniform, 90)

94.0

6 задание

У какой группы наибольшее значение медианы для gauss_3?

In [250]:
df.groupby('groups').agg('median')

          uniform   gauss_1   gauss_2    gauss_3
groups
группа_1     77.0  0.060626 -0.627803  49.876708
группа_2     75.5 -0.057600 -0.473472  49.990529
группа_3     77.0  0.055329 -0.369613  49.459261
группа_4     74.0 -0.079226 -0.434114  49.069511
группа_5     74.0  0.065264 -1.145277  49.936910

In [ ]:
7 задание

У какой группы наибольшее минимальное значение uniform?
Если такого нет, выбрать группу наибольшим минимальным значением в gauss_1.

In [260]:
df.groupby('groups').agg('min')

          uniform   gauss_1    gauss_2    gauss_3
groups
группа_1       50 -3.628448 -22.109394  21.111701
группа_2       50 -2.692705 -38.365537  26.063885
группа_3       50 -2.606773 -36.187520  27.741795
группа_4       50 -3.933254 -29.901064  19.682732
группа_5       50 -2.639733 -40.394911  29.945906

In [258]:
round(-2.606773, 2)

-2.61

In [261]:
round(-36.187520, 2)

-36.19

8 задание

Создать новую колонку gauss где значения будут получаться из (gauss_1 + gauss_2) / gauss_3

Чему будет равен 70% перцентиль (результат округлить до сотых, для дробной части использовать точку, как разделитель)?

In [262]:
df['gauss'] = (df['gauss_1'] + df['gauss_2']) / df['gauss_3']

In [263]:
df

         groups  uniform   gauss_1    gauss_2    gauss_3     gauss
indxs
476    группа_1       95  3.010291   2.156346  57.455851  0.089924
315    группа_5       77  0.190277  -9.934550  62.694177 -0.155425
490    группа_4       96 -0.282161   9.211071  54.688895  0.163267
748    группа_3       56  1.127080 -12.391793  30.192353 -0.373098
471    группа_5       52 -1.238270  10.938748  52.682052  0.184133
...         ...      ...       ...        ...        ...       ...
260    группа_4       57 -1.484164  -5.911598  49.330196 -0.149924
146    группа_4       78 -0.379041  -3.132954  60.329900 -0.058213
972    группа_1       52 -0.857206   0.835715  51.926114 -0.000414
161    группа_1       62 -0.195475   3.496498  66.310250  0.049781
587    группа_5       60  0.093496  -9.164475  60.897843 -0.148954

[992 rows x 6 columns]

In [264]:
np.percentile(df.gauss, 70)

0.10641825158661447

In [265]:
round(0.10641825158661447, 2)

0.11